/* Write your CSS here */

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffd569;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #ffffff;
  height: 90vh;
  width: 90vw;
  padding-top: 30px;
}

.heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #000000;
  font-weight: bold;
}

.countValue {
  color: #ffd569;
  font-family: 'Roboto';
  font-size: 30px;
}

.image-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .image-container {
    flex-direction: row;
  }
}

.counter-control {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

@media screen and (min-width: 768px) {
  .counter-control {
    margin-top: 96px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

.mango {
  width: 250px;
  height: 200px;
}

.banana {
  width: 250px;
  height: 200px;
}

.button {
  background-color: #007bff;
  margin-top: 40px;
  color: #ffffff;
  border-radius: 5px;
  border: 1px;
  font-size: 20px;
  font-family: 'Roboto';
  padding: 10px;
  cursor: pointer;
  outline: none;
}
